*.pdf
*.txt
*.csv
!docs/example_statement.pdf
!entrypoint.spec
!tests/fixtures/**

_ignore*
build
dist/entrypoint
*.whl

# exclude uv to allow optional dependencies to be installed on streamlit
uv.lock
